@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.titlenav {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    color: #FFF87A !important;
}

body {
    max-width: 1280px;
    margin: auto;
    background-color: #E3EBF9;
}

.BodyAccueil {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.EachMovie {
    text-align: center;
    margin-bottom: 25px;
}

.Bienvenue {
    text-align: center;
    display: block;
}

.Redirection {
    display: flex;
    justify-content: space-evenly;
}

.TitleOtherPages {
    padding: 100px 0px 40px 0px;
}

#Popular-Movies-List {
    padding-bottom: 15px;
}

#Your-Movie {
    display: flex;
    justify-content: center;
}

.ResultMovie {
    display: flex;
    margin-bottom: 40px;
}

.EachColumn {
    text-align: center;
}

.ColumnLeft {
    margin-right: 40px;
}

.ColumnRight {
    margin-left: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Recherche {
    text-align: center;
}

.linkpages {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}