.nav-item {
    color: aliceblue;
}

body {
    max-width: 1280px;
    margin: auto;
    background-color: black;
}

.BodyAccueil {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
}

.EachMovie {
    text-align: center;
}

.Accueil {
    color: aliceblue;
}

.Bienvenue {
    text-align: center;
    display: block;
    color: aliceblue;
}

.Redirection {
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}

.TitleOtherPages {
    padding: 100px 0px 40px 0px;
    color: aliceblue;
}

#Your-Movie {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.ResultMovie {
    display: flex;
    margin-bottom: 40px;
}

.EachColumn {
    text-align: center;
}

.ColumnLeft {
    margin-right: 40px;
}

.ColumnRight {
    margin-left: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Recherche {
    text-align: center;
    color: aliceblue;
}
.row {
    color: aliceblue;
}